<div class="navbar navbar-expand-lg navbar-thai">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-nav.png", height: 50 %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to t('link.reservation'), new_reservation_path, class: "nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to t('link.menu'), root_path(anchor: 'menu') ,  class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('link.contact'), root_path(anchor: 'contact') ,  class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag('flag-fr.png'), url_for(locale: 'fr') %>
        <%= link_to image_tag('flag-en.png'), url_for(locale: 'en') %>
      </li>
    </ul>
  </div>
</div>
